
<mat-toolbar>
  <mat-toolbar-row fxLayoutAlign="space-between center">
      <div>
          <button mat-button>
              <span> <img mat-card-lg-image src="../../assets/images/Dashboard/Group 16004@2x.png" alt="logo"></span>

          </button>
          <h3 class="digi">digi</h3>
          <h3 class="Docq">DocQ</h3>
            <button mat-button  type="click" style=" top: -8px;
            left: 250px;
            width: 14px;
            height: 14px; margin: -22px 30px 12px;"><span class="material-icons" >settings</span> </button>
            <h3 class="Layout">Layout Configure</h3>
              
            <button mat-button type="new" style="top: 31px;
            top:-9px;
            left: 383px;
            width: 25px;
            height:5px;
            margin:-25px 100px 12px;">  <span class="material-icons" >receipt_long </span></button>
              <h3 class="Document">Document Import</h3>
      </div>
      <div>
          <button mat-button> <span class="material-icons">notifications</span></button>
          <button mat-button>
              <span><img mat-card-avatar src="../../assets/images/Dashboard/Ellipse 65.jpg" alt="logo"></span>
          </button>
          <button mat-button routerLink="/samual J">samual</button>  
      </div>
  </mat-toolbar-row>
</mat-toolbar>


<div class="container">
<h4>Welcome to </h4>
</div>
<h1>Digi</h1>
<h6>DocQ</h6>
<div class="center">
  <section class="copy">
      <img class="imgtag" src="../../assets/images/Login/undraw_setup_re_y9w8@2x.jpg" alt="logo" style="width: 288px;
      height: 188px; margin:80px 640px 15px;">
  </section>
</div>








